body{
    background-color: black;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    background-image: url(assets/menui.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -100px;
}
button{
    width: 40px;
    height: 40px;
    margin: 40px;
    border: 2px solid  rgb(59, 1, 59);
    border-radius: 50%;
    box-shadow: 1px 1px 15px 13px rgb(59, 1, 59);
    transition: transform 0.3s ease;
}

button:hover{
    background-color: red;
    transform: scale(1.5);
    cursor: pointer;
}
.botoes{
    width: 500px;
    height: 600px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 1px 1px 30px 10px rgb(59, 1, 59);
    backdrop-filter: blur(5px);
}
h1{
    color: white;
    padding: 30px;
    position: absolute;
    bottom: 800px;
    text-shadow: red 0em 0em 0.5em 
}