body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.quadrado{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: black;
    position: relative;
    transform: translate(-50%,-50%);
    animation: Girar 3s linear;
}

@keyframes Girar {
    to{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    from{
        transform: translate(-50%,-50%) rotate(45deg);
    }
}