body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.circulo{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    transition: transform 0.5s ease;
}

.circulo:hover{
    background-color: aqua;
    transform: scale(4);
}

.b{
    position: absolute;
    top: 10px;
    left: 10px;
}
.b button{
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    width: 70px;
    height: 50px;
    font-size: 10px;
}

.b button:hover{
    cursor: pointer;
    background-color: lightgray;
}