body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.circulo{
    width: 200px;
    height: 200px;
    border: 5px solid red;
    box-shadow: 1px 1px 10px 10px red;
    border-radius: 50%;
    background-color: black;
    animation: Mover 4s infinite;
}

.b button{
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    border: 5px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.b button:hover{
    cursor: pointer;
}

@keyframes Mover {
    from{

    }
    to{
        margin-left: 500px;
    }
    
}
